fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
python-jose[cryptography]
bcrypt>=4.1.3
passlib[bcrypt]
requests
python-dotenv
pydantic
pydantic-settings
asyncpg
python-multipart
langsmith
loguru
openai>=1.0.0
sqlalchemy>=2.0.0